/* color palette
Floral White: rgb(247, 244, 234);
Ecru: rgb(216, 201, 151);
Lavender Blue: rgb(192, 185, 221);
Rhythm: rgb(135, 121, 147);
Little Boy Blue: rgb(128, 161, 212);
Medium Turquoise: rgb(117, 201, 200);
Vegas Gold (Caviar): rgb(197, 178, 109);
Metallic Sunburst (Caviar Hover): rgb(160, 140, 64);
Vermillion (Pepper): rgb(208, 72, 42);
Chinese Red (Pepper Hover): rgb(169, 59, 35);
*/

body {
    background-color: rgb(117, 201, 200);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    width: 100%;
    height: 115px;
    flex-direction: column;
    background-color: rgb(128, 161, 212);
    color: rgb(247, 244, 234);
    margin: 0;
    border-radius: 20px 0 20px 0;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    margin: 10px 0 0 10px;
}

header p {
    font-style: italic;
    margin: 5px 0 0 10px;
    font-family: serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 2em;
}

#prompts {
    margin-bottom: 0;
}

#prompts p {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
}

#button {
    font-size: 2em;
    background-color: rgb(192, 185, 221);
    color: black;
    font-weight: bold;
    padding: 10px;
    border: 4px solid black;
    border-radius: 10px;
}

#button:hover {
    color: rgb(222, 217, 226);
    border: 4px solid rgb(222, 217, 226);
    background-color: rgb(135, 121, 147);
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 510px;
    height: 510px;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

#gameboard div {
    border: 4px solid black;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    margin: 2px;
    background-color: rgb(247, 244, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboard p {
    font-size: 2em;
    font-family: sans-serif;
    font-weight: bold;
}

#gameboard .tile:hover {
    background-color: rgb(216, 201, 151);
}

#gameboard .caviar {
    background-color: rgb(197, 178, 109);
}

#gameboard .caviar:hover {
    background-color: rgb(160, 140, 64);
}

#gameboard .pepper {
    background-color: rgb(208, 72, 42);
}

#gameboard .pepper:hover {
    background-color: rgb(169, 59, 35);
}

#gameboard .eaten {
    background-color: rgb(117, 201, 200);
    border: 4px solid rgb(117, 201, 200);
}